# Directories
build/
data/
docs/source/demos/
outputs/
plots/
__pycache__/
pyroteus.egg-info/

# Specific files
docs/source/pyroteus.rst
pyroteus/adjoint.py

# File extensions
*.jpg
*.msh
*.pdf
*.png
*.pvd
*.swp
*.vtu
