# Directories
bench/
build/
data/
docs/source/demos/
htmlcov*
outputs/
plots/
__pycache__/
goalie.egg-info/

# Specific files
.coverage
docs/source/goalie.rst

# File extensions
*.ipynb*
*.jpg
*.msh
*.patch
*.pdf
*.png
*.pvd
*.swp
*.vtu
*:Zone.Identifier
